{% extends "::baseAdmin.html.twig" %}

	{% block title %}

		{% if origin == 1 %}
			Créer un article en page d'accueil
		{% elseif origin == 2 %}
			Créer un article de présentation
		{% elseif origin == 3 %}
			Créer un article partenaire
		{% elseif origin == 4 %}
			Créer un article dans la revue de presse
		{% elseif origin == 5 %}
			Créer un article collectivité
		{% endif %}

	{% endblock %}

	{% block body %}

		<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                    	{% if origin == 1 %}
							Créer un article en page d'accueil
						{% elseif origin == 2 %}
							Créer un article de présentation
						{% elseif origin == 3 %}
							Créer un article partenaire
						{% elseif origin == 4 %}
							Créer un article dans la revue de presse
						{% elseif origin == 5 %}
							Créer un article collectivité
						{% endif %}                    
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

        <div class="row">
        	<div class="col-lg-12">

				{{ form_start(form)}}
				{{ form_row(form.title)}}
				{{ form_row(form.subject)}}
				{{ form_row(form.main)}}				
				<div style="text-align:center;margin-top:25px;">
					{{ form_row(form.dateCreated)}}
				</div><div style="text-align:center;margin-top:25px;">
					{{ form_row(form.dateDeleted)}}
				</div><div style="text-align:center;margin-top:25px;">
					{{ form_row(form.submit)}}
				</div>
				{{ form_end(form)}}

			</div>
		</div>

	{% endblock %}